<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="therapist" class="ru.vorobyov.Therapist" />
    <bean id="dentist" class="ru.vorobyov.Dentist" />

    <bean id="patient" class="ru.vorobyov.Patient" >
        <property name="firstName" value="Василий" />
        <property name="lastName" value="Петров" />
        <property name="neededDoctor" ref="therapist" />
        <property name="reception" ref="reception" />
    </bean>

    <bean id="medicalCard" class="ru.vorobyov.MedicalCard" scope="prototype">
        <constructor-arg name="patient" ref="patient" />
        <property name="firstName" />
        <property name="lastName" />
    </bean>
    <bean id="archive" class="ru.vorobyov.Archive" >
        <constructor-arg name="medicalCard">
            <ref bean="medicalCard"/>
        </constructor-arg>
    </bean>
    <bean id="planOfClinic" class="ru.vorobyov.PlanOfClinic" />

    <bean id="reception" class="ru.vorobyov.Reception" >
        <constructor-arg name="patient" ref="patient" />
        <property name="patient" ref="patient" />
        <property name="archive" ref="archive" />
        <property name="planOfClinic" ref="planOfClinic" />
<!--        <property name="doctor">-->
<!--            <ref bean="doctor" />-->
<!--        </property>-->
    </bean>
</beans>